@font-face {
	font-family: list3;
	src: url(../fonts/TT-Hoves-Pro-Trial-Bold.ttf);
}
@font-face {
	font-family: list4;
	src: url(../fonts/TT-Hoves-Pro-Trial-Medium.ttf);
}
@font-face {
	font-family: list5;
	src: url(../fonts/TT-Hoves-Pro-Trial-Regular.ttf);
}
@font-face {
	font-family: list6;
	src: url(../fonts/TT-Hoves-Pro-Trial-Thin.ttf);
}